@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

$green: #65cd00;

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  background-color: $green;
  height: 80vh;
  position: relative;
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    .header-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
      .nav-brand {
        color: #ffff;
        font-family: "Noto Sans JP", sans-serif;
        font-weight: 600;
        font-size: 28px;
        letter-spacing: 1.2px;
      }
      .nav-items {
        align-items: center;
        .item {
          color: #fff;
          margin-left: 20px;
          font-size: 18px;
          font-weight: 400;
          &:hover {
            background-color: #fff;
            color: $green;
          }
        }
      }
      i {
        display: none;
      }
    }
    .nav-toggle {
      display: none;
    }
    .row {
      .header-content {
        position: absolute;
        width: 70%;
        top: 40%;
        left: 16%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translate(-50% 50%);
        padding-bottom: 40px;
        margin-bottom: 40px;
        .content-title {
          color: #fff;
          font-family: "Poppins", sans-serif;
          font-size: 45px;
          font-weight: 700;
        }
        .content-text {
          color: #fff;
        }
      }
    }
  }
}

.feature {
  border-bottom: 1px solid #cccc;
  padding-bottom: 40px;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    .feature-title {
      color: #777;
      font-size: 50px;
      position: relative;
      margin-bottom: 40px;
      font-weight: 300;
      text-align: center;
      &::before {
        content: "";
        width: 83%;
        height: 1.5px;
        position: absolute;
        bottom: 0;
        left: 8%;
        background-color: $green;
      }
    }
    .feature-cards {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        &-icon {
          color: $green;
          font-size: 30px;
          margin-bottom: 10px;
        }
        &-title {
          color: #393939;
          font-weight: 500;
          font-size: 16px;
        }
        &-text {
          color: #636363;
          font-size: 15px;
          font-weight: 300;
          padding: 0px 25px;
        }
      }
    }
  }
}

.install {
  background-color: #f8f8f8;
  padding-top: 70px;
  padding-bottom: 60px;
  border-bottom: 1px solid #cccc;
  .container {
    .row {
      .install-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .box-content {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin: 10px 0px;
          i {
            color: #fff;
            background-color: $green;
            padding: 20px;
            border-radius: 50%;
            font-size: 30px;
            margin-right: 20px;
          }
          .text-content {
            display: flex;
            flex-direction: column;
            .content-title {
              font-size: 24px;
            }
            .content-text {
              color: #333;
              font-size: 13.5px;
            }
          }
        }
      }
    }
  }
}

.services {
  padding-bottom: 30px;
  margin-bottom: 50px;
  .container {
    .services-title {
      color: #777;
      font-size: 50px;
      position: relative;
      margin-bottom: 40px;
      font-weight: 300;
      margin-top: 50px;
      text-align: center;
      &::before {
        content: "";
        width: 15%;
        height: 1.5px;
        position: absolute;
        bottom: 0;
        left: 42.5%;
        background-color: #65cd00;
      }
    }
    .row {
      .services-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 17px 24px;
        i {
          font-size: 35px;
          padding-bottom: 10px;
        }
      }
    }
  }
}
.gray {
  background-color: #f8f8f8;
}

.action {
  background: url(../images/dashboard-img.jpg);
  // background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 10px 20px;
  .container {
    .row {
      .action-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        h1 {
          color: #777;
          font-size: 50px;
          position: relative;
          margin-bottom: 40px;
          font-weight: 300;
          margin-top: 50px;
          &::before {
            content: "";
            width: 90%;
            height: 1.5px;
            position: absolute;
            bottom: -10%;
            left: 6%;
            background-color: $green;
          }
        }
        p {
          color: #333;
          font-weight: 300;
          margin-bottom: 50px;
        }
      }
    }
  }
}

.price {
  .container {
    .price-table {
      color: #777;
      font-size: 50px;
      position: relative;
      margin-bottom: 40px;
      font-weight: 300;
      margin-top: 50px;
      text-align: center;
      &::before {
        content: "";
        width: 20%;
        height: 1.5px;
        position: absolute;
        bottom: -10%;
        left: 40%;
        background-color: $green;
      }
    }
    .row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .price-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #f8f8f8;
        margin: 20px 10px;
        padding: 0;
        .box-title {
          width: 100%;
          background-color: #eee;
          p {
            color: #888;
            span {
              color: #555;
              font-size: 48px;
              font-weight: 700;
            }
          }
          h3 {
            color: #888;
            font-size: 24px;
          }
          h4 {
            background: #e8e8e8;
            margin: 0;
            font-size: 16px;
            padding: 15px;
            font-weight: 400;
            color: #333;
          }
        }
        .ultimate {
          background-color: #65cd00;
          p {
            color: #fff;
            span {
              color: #fff;
            }
          }
          h3 {
            color: #fff;
          }
          h4 {
            color: #fff;
            background-color: #61c103;
          }
        }
        .box-content {
          p {
            padding: 5px;
            border-bottom: 1px solid #eee;
          }
        }
      }
    }
  }
}

.about {
  .container {
    .about-title {
      color: #777;
      font-size: 50px;
      position: relative;
      margin-bottom: 50px;
      font-weight: 300;
      margin-top: 50px;
      text-align: center;
      &::before {
        content: "";
        width: 20%;
        height: 1.5px;
        position: absolute;
        bottom: -10%;
        left: 40%;
        background-color: $green;
      }
    }
    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      .about-box {
        display: flex;
        margin-top: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .box-img {
          position: relative;
          &::before {
            content: "MARKETING";
            position: absolute;
            top: 70%;
            left: 0;
            color: #fff;
            background: #019299;
          }
          img {
            width: 100%;
          }
        }
        .box-content {
          padding: 10px 20px;
          h3 {
            color: #333;
            font-size: 24px;
            margin: 10px 0px;
          }
          p {
            color: #333;
            font-size: 16px;
            font-weight: 300;
          }
        }
      }
    }
  }
}

.contact {
  background: $green;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    color: #fff;
    a {
      color: #fff;
      border-bottom: 1px solid #fff;
      &:hover {
        color: $green;
        background-color: #fff;
      }
    }
  }
}

// RESPONSIVE

@media (max-width: 768px) {
  .header {
    .container {
      .header-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .nav-items {
          display: none;
        }
        i {
          display: flex;
          color: #fff;
          cursor: pointer;
        }
      }
      .nav-toggle {
        display: none;
        background: #fff;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px 0px;
        .item {
          color: $green;
          padding: 10px 20px;
          font-size: 18px;
          font-weight: 400;
          &:hover {
            background-color: #fff;
            color: $green;
          }
        }
      }
      .nav-toggle.sticky {
        display: flex;
        transition: all 0.5s ease-in;
        animation-name: sticky;
        animation-duration: 0.5s;
        z-index: 1;
        a {
          border-bottom: 1px solid transparent;
          &:hover {
            border-color: $green;
          }
        }
      }
      .row {
        .header-content {
          .content-title {
            font-size: 30px;
          }
          .content-text {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 430px) {
  .header {
    .container {
      .row {
        .header-content {
          .content-title {
            font-size: 25px;
          }
          .content-text {
            font-size: 12px;
          }
        }
      }
    }
  }
}
@media (max-width: 320px) {
  .header {
    .container {
      .row {
        .header-content {
          .content-title {
            font-size: 20px;
          }
          .content-text {
            font-size: 10px;
          }
        }
      }
    }
  }
}

@keyframes sticky {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
