@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  background-color: #65cd00;
  height: 80vh;
  position: relative;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.header .container .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.header .container .header-nav .nav-brand {
  color: #ffff;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 1.2px;
}

.header .container .header-nav .nav-items {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .header-nav .nav-items .item {
  color: #fff;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 400;
}

.header .container .header-nav .nav-items .item:hover {
  background-color: #fff;
  color: #65cd00;
}

.header .container .header-nav i {
  display: none;
}

.header .container .nav-toggle {
  display: none;
}

.header .container .header-content {
  position: absolute;
  top: 40%;
  left: 16%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-50% 50%);
          transform: translate(-50% 50%);
}

.header .container .header-content .content-title {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  font-weight: 700;
}

.header .container .header-content .content-text {
  color: #fff;
}

.feature {
  border-bottom: 1px solid #cccc;
  padding-bottom: 40px;
}

.feature .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.feature .container .feature-title {
  color: #777;
  font-size: 50px;
  position: relative;
  margin-bottom: 40px;
  font-weight: 300;
  text-align: center;
}

.feature .container .feature-title::before {
  content: "";
  width: 83%;
  height: 1.5px;
  position: absolute;
  bottom: 0;
  left: 8%;
  background-color: #65cd00;
}

.feature .container .feature-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.feature .container .feature-cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.feature .container .feature-cards .card-icon {
  color: #65cd00;
  font-size: 30px;
  margin-bottom: 10px;
}

.feature .container .feature-cards .card-title {
  color: #393939;
  font-weight: 500;
  font-size: 16px;
}

.feature .container .feature-cards .card-text {
  color: #636363;
  font-size: 15px;
  font-weight: 300;
  padding: 0px 25px;
}

.install {
  background-color: #f8f8f8;
  padding-top: 70px;
  padding-bottom: 60px;
  border-bottom: 1px solid #cccc;
}

.install .container .row .install-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.install .container .row .install-box .box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px;
}

.install .container .row .install-box .box-content i {
  color: #fff;
  background-color: #65cd00;
  padding: 20px;
  border-radius: 50%;
  font-size: 30px;
  margin-right: 20px;
}

.install .container .row .install-box .box-content .text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.install .container .row .install-box .box-content .text-content .content-title {
  font-size: 24px;
}

.install .container .row .install-box .box-content .text-content .content-text {
  color: #333;
  font-size: 13.5px;
}

.services {
  padding-bottom: 30px;
  margin-bottom: 50px;
}

.services .container .services-title {
  color: #777;
  font-size: 50px;
  position: relative;
  margin-bottom: 40px;
  font-weight: 300;
  margin-top: 50px;
  text-align: center;
}

.services .container .services-title::before {
  content: "";
  width: 15%;
  height: 1.5px;
  position: absolute;
  bottom: 0;
  left: 42.5%;
  background-color: #65cd00;
}

.services .container .row .services-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 17px 24px;
}

.services .container .row .services-box i {
  font-size: 35px;
  padding-bottom: 10px;
}

.gray {
  background-color: #f8f8f8;
}

.action {
  background: url(../images/dashboard-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 10px 20px;
}

.action .container .row .action-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.action .container .row .action-box h1 {
  color: #777;
  font-size: 50px;
  position: relative;
  margin-bottom: 40px;
  font-weight: 300;
  margin-top: 50px;
}

.action .container .row .action-box h1::before {
  content: "";
  width: 90%;
  height: 1.5px;
  position: absolute;
  bottom: -10%;
  left: 6%;
  background-color: #65cd00;
}

.action .container .row .action-box p {
  color: #333;
  font-weight: 300;
  margin-bottom: 50px;
}

.price .container .price-table {
  color: #777;
  font-size: 50px;
  position: relative;
  margin-bottom: 40px;
  font-weight: 300;
  margin-top: 50px;
  text-align: center;
}

.price .container .price-table::before {
  content: "";
  width: 20%;
  height: 1.5px;
  position: absolute;
  bottom: -10%;
  left: 40%;
  background-color: #65cd00;
}

.price .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price .container .row .price-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #f8f8f8;
  margin: 20px 10px;
  padding: 0;
}

.price .container .row .price-box .box-title {
  width: 100%;
  background-color: #eee;
}

.price .container .row .price-box .box-title p {
  color: #888;
}

.price .container .row .price-box .box-title p span {
  color: #555;
  font-size: 48px;
  font-weight: 700;
}

.price .container .row .price-box .box-title h3 {
  color: #888;
  font-size: 24px;
}

.price .container .row .price-box .box-title h4 {
  background: #e8e8e8;
  margin: 0;
  font-size: 16px;
  padding: 15px;
  font-weight: 400;
  color: #333;
}

.price .container .row .price-box .ultimate {
  background-color: #65cd00;
}

.price .container .row .price-box .ultimate p {
  color: #fff;
}

.price .container .row .price-box .ultimate p span {
  color: #fff;
}

.price .container .row .price-box .ultimate h3 {
  color: #fff;
}

.price .container .row .price-box .ultimate h4 {
  color: #fff;
  background-color: #61c103;
}

.price .container .row .price-box .box-content p {
  padding: 5px;
  border-bottom: 1px solid #eee;
}

.about .container .about-title {
  color: #777;
  font-size: 50px;
  position: relative;
  margin-bottom: 50px;
  font-weight: 300;
  margin-top: 50px;
  text-align: center;
}

.about .container .about-title::before {
  content: "";
  width: 20%;
  height: 1.5px;
  position: absolute;
  bottom: -10%;
  left: 40%;
  background-color: #65cd00;
}

.about .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .container .row .about-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.about .container .row .about-box .box-img {
  position: relative;
}

.about .container .row .about-box .box-img::before {
  content: "MARKETING";
  position: absolute;
  top: 70%;
  left: 0;
  color: #fff;
  background: #019299;
}

.about .container .row .about-box .box-img img {
  width: 100%;
}

.about .container .row .about-box .box-content {
  padding: 10px 20px;
}

.about .container .row .about-box .box-content h3 {
  color: #333;
  font-size: 24px;
  margin: 10px 0px;
}

.about .container .row .about-box .box-content p {
  color: #333;
  font-size: 16px;
  font-weight: 300;
}

.contact {
  background: #65cd00;
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact p {
  color: #fff;
}

.contact p a {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.contact p a:hover {
  color: #65cd00;
  background-color: #fff;
}

@media (max-width: 768px) {
  .header .container .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .container .header-nav .nav-items {
    display: none;
  }
  .header .container .header-nav i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    cursor: pointer;
  }
  .header .container .nav-toggle {
    display: none;
    background: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 0px;
  }
  .header .container .nav-toggle .item {
    color: #65cd00;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 400;
  }
  .header .container .nav-toggle .item:hover {
    background-color: #fff;
    color: #65cd00;
  }
  .header .container .nav-toggle.sticky {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -webkit-animation-name: sticky;
            animation-name: sticky;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
  }
  .header .container .nav-toggle.sticky a {
    border-bottom: 1px solid transparent;
  }
  .header .container .nav-toggle.sticky a:hover {
    border-color: #65cd00;
  }
}

@-webkit-keyframes sticky {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes sticky {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
/*# sourceMappingURL=style.css.map */